<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dscvit.android.onealarm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/group_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/group_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.dscvit.android.onealarm.activity.SettingsActivity"></activity>
        <activity android:name="com.dscvit.android.onealarm.activity.MainActivity" />
        <activity
            android:name="com.dscvit.android.onealarm.activity.AllActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dscvit.android.onealarm.activity.GroupActivity"
            android:label="@string/title_activity_group"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dscvit.android.onealarm.activity.AboutGroupActivity"
            android:label="@string/title_activity_about_group"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dscvit.android.onealarm.activity.EditAlarmActivity"
            android:label="@string/title_activity_edit_alarm"
            android:screenOrientation="portrait" />

        <receiver android:name="com.dscvit.android.onealarm.misc.AlarmReciever">
            <intent-filter>
                <action android:name="com.varunsaini.android.ga_basictransitions" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.dscvit.android.onealarm.misc.NotificationReciever"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="CANCEL_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.dscvit.android.onealarm.misc.NotificationIntentService"
            android:exported="false"></service>

        <activity
            android:name="com.dscvit.android.onealarm.activity.AlarmRingActivity"
            android:label="@string/title_activity_alarm_ring"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:theme="@style/CustomTheme.NoActionBar" />
    </application>

</manifest>